@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    // Color
    --primaryColor: #5c76d7;
    --greenColor: #1db954;
    --textColor: #333;
    --white: #fff;
    --black: black;
    --hoverColor: #27282f;

    // Fonts
    --font-family: 'Lexend Deca', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textColor);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

// Custom Tippy

.tippy-box {
    border-radius: 8px;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
}

.tippy-content {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    padding: 8px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    color: rgba(84, 84, 84, 0.92);
    margin-top: -1px;
}

// Logo

.logo {
    font-family: 'Lobster', cursive;
    color: var(--primaryColor);
}

// Button
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 50px;
    min-width: 100px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

    + .btn {
        margin-left: 16px;
    }

    &:hover {
        background-color: #d2e3fc;
    }
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--hoverColor);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
